body {
  background: #fff6dc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



.required, .error{
  color:red;
}

#boton{
  margin-top: 30px;
  margin-bottom: 20px;
}

.row{
  padding-bottom: 65px;
}

section{padding-top:65px;}

h1{
  padding-top:35px;
}

a {
    background: #dfd9f4;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #ffe49a;
}

.bt{
    background-color: #ffe49a;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color:#b5a3f4;
}


#myScrollspy{
    background: #dfd9f4;
}

.well, .well-sm{
    background: #eeebfa;
}

legend{
    border-bottom-color:#dfd9f4;
}

#barra{
  margin-right: 20px;
}


.navbar-header{
  background: #dfd9f4;
}
